<nav>
  <ul
    style="
      display: flex;
      gap: 10px;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
    "
  >
    <li><a href="/" class="button">Home</a></li>
    <li><a href="/posts" class="button">Posts</a></li>
    <li><a href="/authors" class="button">Authors</a></li>
  </ul>
</nav>
