<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DIY Platform -Authors</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
        background-color: white;
        margin-top: 20px;
      }
      th,
      td {
        text-align: left;
        padding: 10px;
        border: 1px solid #000000;
      }
      th {
        background-color: #414141;
        color: white;
      }
      .button {
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        margin-bottom: 20px;
        background-color: #2b6cb0;
      }
      .button:hover {
        opacity: 0.8;
      }
    </style>
  </head>
  <body>
    <h1>DIY Platform</h1>
    <!-- <a href="/" class="button">Home</a> -->
    <%- include('partials/navbar') %>
    <a href="/authors/detail" class="button">Show Detail</a>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <% authors.forEach(author => { %>
        <tr>
          <td><%= author.id %></td>
          <td><%= author.formatName %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
