<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <style>
      .button {
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        margin-bottom: 20px;
        background-color: #2b6cb0;
      }
      .button:hover {
        opacity: 0.8;
      }
    </style>
  </head>
  <body>
    <h1>This is the homepage!!!</h1>
    <%- include('partials/navbar') %>
    <p>Seharusnya sudah selesai</p>
    <!-- <a href="/authors" class="button">Author</a>
    <a href="/posts" class="button">Posts</a> -->
  </body>
</html>
